h1{color:white; font-family:Berlin Sans FB Demi;background-color:rgb(103, 145, 234);}
h2{color:rgb(102, 148, 246);}
	p{background-color:rgb(142, 176, 249); color:black; font-family:Kristen ITC;}
	table{background-color:white; color:White;}
	ul{color:rgb(5, 153, 182);}
	ol{color:Black; background-color:rgb(5, 153, 182);}
	form{background-color:rgb(5, 102, 102); color:White;}
body { background-color:rgb(198, 202, 211);}	